@font-face {
  font-family: BOLéD;
  src: url("fonts/boled/boled-webfont.woff")format("woff");
}

@font-face {
  font-family: Quicksand;
  src: url("fonts/quicksand/quicksand-bold-webfont.woff")format("woff");
  font-weight: bold;
}

@font-face {
  font-family: Quicksand;
  src: url("fonts/quicksand/quicksand-bolditalic-webfont.woff")format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Quicksand;
  src: url("fonts/quicksand/quicksand-italic-webfont.woff")format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Quicksand;
  src: url("fonts/quicksand/quicksand-light-webfont.woff")format("woff");
  font-weight: 300;
}

@font-face {
  font-family: Quicksand;
  src: url("fonts/quicksand/quicksand-regular-webfont.woff")format("woff");
  font-weight: normal;
}

@font-face {
  font-family: Quicksand;
  src: url("fonts/quicksand/quicksand_dash-webfont.woff")format("woff");
  font-weight: 100;
}

@font-face {
  font-family: Montserrat;
  src: url("fonts/montserrat/montserrat-bold-webfont.woff")format("woff");
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url("fonts/montserrat/montserrat-regular-webfont.woff")format("woff");
  font-weight: normal;
}

body, html {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

header {
  z-index: 99;
  position: fixed;
  align-items: center;
  width: 80%;
  height: 70px;
  display: flex;
  padding: 5px 0;;
}

main {
  position: relative;
  align-items: center;
  width: 80% !important;
  height: 100vh;
  display: flex;
  bottom: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

section {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

h2 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  color: #FFFFFF;
}

h3 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: #FFFFFF;
}

p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  color: #FFFFFF;
}

*:focus {
  outline: none;
}

nav.item ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-content: center;
}

li a {
  margin-right: 30px;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 1.1rem;
  color: #FFFFFF;
}

nav.item ul li a:hover {
  color: #43E8E1;
}

.mv-1 {
  margin: 10px 0;
}

.background {
  position: absolute;
  z-index: -99;
  left: -50%;
  width: 200%;
  height: 100vh;
  background-color: #2E428B;
}

#logo {
  width: 200px;
  font-family: BOLéD;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  color: #FFFFFF;
  cursor: default;
}

#login {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 1.1rem;
  color: #FFFFFF;
}

#login:hover {
  color: #43E8E1;
}

.item {
  display: flex;
  align-items: center;
}

.item:first-child {
  margin-right: 0;
}

.item:last-child {
  margin-left: auto;
}

ion-icon {
  margin: 0 10px;
  --ionicon-stroke-width: 4rem;
}

#hamburger {
  display: none;
  z-index: 3;
  position: absolute;
  right: 0;
}

#hamburger-container {
  z-index: 2;
  position: relative;
  height: 100%;
  background-color: #2D3142;
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
}

.nav-right {
  position: fixed;
  right: 40px;
  top: 20px;
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: block;
}

.middle {
  margin: 0 auto;
}

.nav-right.visible-xs .active .bar {
  background-color: #FFF;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.hamburger-button.active .top {
  -webkit-transform: translateY(10px) rotateZ(45deg);
  -moz-transform: translateY(10px) rotateZ(45deg);
  -ms-transform: translateY(10px) rotateZ(45deg);
  -o-transform: translateY(10px) rotateZ(45deg);
  transform: translateY(10px) rotateZ(45deg);
}

.hamburger-button.active .bottom {
  -webkit-transform: translateY(-10px) rotateZ(-45deg);
  -moz-transform: translateY(-10px) rotateZ(-45deg);
  -ms-transform: translateY(-10px) rotateZ(-45deg);
  -o-transform: translateY(-10px) rotateZ(-45deg);
  transform: translateY(-10px) rotateZ(-45deg);
}

.hamburger-button.active .middle {
  width: 0;
}

.bar {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #FFFFFF;
  margin: 7px auto;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.hamburger-button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.sidebar {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  right: -100%;
  background-color: #43E8E1;
}

.move-to-left {
  transition: 1s;
  right: 0;
}

.move-to-right {
  transition: 1s;
  right: -100%;
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 150px;
  text-align: center;
}

.sidebar-item {
  margin: 30px 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all .7s .4s ease-in-out;
  -moz-transition: all .7s .4s ease-in-out;
  -ms-transition: all .7s .4s ease-in-out;
  -o-transition: all .7s .4s ease-in-out;
  transition: all .7s .4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:last-child {
  -webkit-transition: all .7s .8s ease-in-out;
  -moz-transition: all .7s .8s ease-in-out;
  -ms-transition: all .7s .8s ease-in-out;
  -o-transition: all .7s .8s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.sidebar-item a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.3em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
}

.sidebar-item a:hover {
  color: #2E428B;
}

.banner {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

main section .banner:first-child {
  margin-left: 0;
}

main section .banner:last-child {
  margin-left: auto;
}

.image-banner {
  background-image: url("images/server.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#check-domain button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 0;
  background-color: #43E8E1;
  font-size: 1rem;
  cursor: pointer;
  color: #3D509D;
}

#check-domain button span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}

@media only screen and (min-width: 0px) and (max-width: 900px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1rem;
  }

  li a {
    margin-right: 15px;
    font-size: 1rem;
  }

  #logo {
    width: auto;
    font-size: 2.5rem;
  }

  #login {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (min-width: 800px) and (max-width: 1279px) {
}

@media only screen and (min-width: 640px) and (max-width: 799px) {
  #check-domain button {
    width: 150px;
    height: 40px;
    border-radius: 40px;
    font-size: .8rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 700px) {
  nav.item ul {
    display: none;
  }

  #login {
    display: none;
  }

  #hamburger {
    display: block;
  }

  #check-domain button {
    width: 150px;
    height: 40px;
    border-radius: 40px;
    font-size: .8rem;
  }
}
@media only screen and (min-width: 0px) and (max-width: 449px) {
  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: .8rem;
  }

  section {
    flex-wrap: wrap-reverse;
    align-content: center;
  }

  .banner {
    text-align: center;
    justify-content: center;
    height: auto;
  }

  .image-banner {
    height: 250px;
  }
}